@model Practice	
@{ 
    List<Practice> practices = ViewBag.Practices;
}
	<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(/assets/images/top-bkgs/practice-areas.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Practice Single Page</h1>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <img src="~/assets/images/practice/@Model.Image" style="width:1000px" class="img-fluid margin-b16" alt="" />
                    <h3>@Model.Name</h3>
                    <p>@Model.Description</p>
                    <br />
                    <h3>@Model.Title</h3>
                    <p>@Model.Explonation</p>   
                </div>
                <!-- /col-lg-9 -->
                <div class="col-lg-3">
                    <aside>
                        <ul>
                            <li class="widget">
                                <h5 class="widgettitle">Practice Areas</h5>
                                <div class="sidebar widget_recent_entries">
                                    <ul>
                                        @foreach (var item in practices)
                                        {
                                            <li><a asp-controller="Practice" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
                                        }

                                    </ul>
                                </div>
                            </li>
                            <li class="widget">
                                <div class="practice-contact" style="background-image:url(/assets/images/blog/blog-7.jpg);">
                                    <h5 class="white">Need help?</h5>
                                    <p>Contact us today for a free consultation and our experts will help you.</p>
                                    <p><strong>Phone:</strong> 1-800-000-111<br><strong>Email:</strong> contact@example.com</p>
                                    <p><strong>Mon – Fri:</strong> 09:00 -17:00</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
                <!-- /col-lg-3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="parallax section-about5" style="background-image:url(/assets/images/practice/practice-banner.jpg);">
        <div class="container parallax-content">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 alignc">
                    <span class="heading-subtitle white">Contact Us</span>
                    <h2 class="margin-b16">We're here to help you</h2>
                    <p>Call Now : 1-800-000-111 and make an appointment with one of our legal experts.</p>
                    <div class="view-more view-more-white margin-t54 alignc"><a href="contact.html">Make an Appointment</a></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->
</div><!-- /PAGE CONTENT -->