@model Attorney	
	<!-- TOP IMAGE -->
<div class="page-head" style="background-image: url(../assets/images/top-bkgs/lawyers.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Attorneys Single Page</h1>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/images/team/@Model.Image" class="img-fluid margin-b32" alt="">
                    <div class="pcolor margin-b16">@Model.Jobname</div>
                    <h5 class="widgettitle">@Model.Fullname</h5>
                    <hr />
                    <p><em>@Model.AttorneyContacts.FirstOrDefault(i => i.AttorneyId == Model.Id).Email</em><br><em>@Model.AttorneyContacts.FirstOrDefault(i => i.AttorneyId == Model.Id).Phone</em></p>
                    <ul class="about-social">
                        <li><a class="social-facebook" href="@Model.AttorneyContacts.FirstOrDefault(i => i.AttorneyId == Model.Id).Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="social-twitter" href="@Model.AttorneyContacts.FirstOrDefault(i => i.AttorneyId == Model.Id).Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="social-linkedin" href="@Model.AttorneyContacts.FirstOrDefault(i => i.AttorneyId == Model.Id).Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                    <hr />
                    <h5 class="widgettitle">Practice Areas</h5>
                    <div class="sidebar widget_recent_entries">
                        <ul>
                            @foreach (var item in Model.AttorneyPractices)
                            {
                                <li>@item.Name</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h3>Bio</h3>
                    <br />
                        <p>@Model.Biography</p>
                        <br />
                    <h3>Education &amp; Bar Admission</h3>
                    <br />
                    <p>@Model.Education</p>
                    <br />
                    <blockquote>
                        <p>@Model.SummarySentence</p>
                    </blockquote>
                    <h3>Awards &amp; Honors</h3>
                    <div class="sidebar widget_recent_entries">
                        <ul>
                            @foreach (var item in Model.AttorneyAwards)
                            {
                                <li><em>@item.Name</em></li>

                            }
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
</div><!-- /PAGE CONTENT -->
