@model List<Case>

		<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url('../assets/images/top-bkgs/case-results.jpg');">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Case Studies</h1>
            <span class="post-subtitle page-subtitle">We help clients resolve their legal issues</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder margin-b32">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <ul class="portfolio-filter">
                    <li><a class="read-more current" href="#" data-filter="*">Show All</a></li>
                    <li><a class="view-more" href="#" data-filter=".finance">Finance</a></li>
                    <li><a class="view-more" href="#" data-filter=".health-care">Health Care</a></li>
                    <li><a class="view-more" href="#" data-filter=".injuries">Injuries</a></li></ul>
                </div>
            </div>
            <!-- /row -->

            <div class="case-studies-holder case-studies-short layout-masonry ">
                @foreach (var item in Model)
                {
                    <div class="case-study case-4col blog-item-masonry @item.Category.className ">
                        <div class="case-img-holder">
                            <a asp-controller="Case" asp-action="Details" asp-route-id="@item.Id">
                                <div class="case-img" style="background-image:url(../assets/images/cases/@item.Image);"></div>
                            </a>
                        </div>
                        <div class="case-content-v1">
                            <ul class="case-categ">
                                <li>@item.Category.Name</li>
                            </ul>
                            <h4><a asp-controller="Case" asp-action="Details" asp-route-id="@item.Id" >@item.Title</a></h4>
                            <div class="case-plus"><i class="fas fa-angle-double-right"></i></div>
                        </div>
                    </div>
                }

             
            </div>
            <!-- /case-studies-holder -->


        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->

</div><!-- /PAGE CONTENT -->