	@model PriceContent
@{ 
    List<PriceToPractice> priceToPractices = ViewBag.PriceToPractices;
    List<Price> prices = ViewBag.Prices;
}
    
    <!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/home/slider-2.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Pricing</h1>
            <span class="post-subtitle page-subtitle">Dedicated legal support specialist</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <span class="heading-subtitle">Pricing Plans</span>
                    <h2 class="section-heading-title margin-b16">@Model.Title</h2>
                    <p>@Model.Description</p>
                    <h5>@Model.Writer</h5>
                </div>
                <div class="col-lg-5 margin-bm54">
                    <img class="img-fluid" src="~/assets/images/practice/@Model.Image" alt="">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                @foreach (var item in prices)
                {
                    <div class="col-md-4 margin-bm32">
                        <div class="pricing-col">
                            <h3 class="margin-b32">@item.Package</h3>
                            <h2 class="price-title">$@item.Amount<sup>/monthly</sup></h2>
                            <ul class="price-features">
                                @foreach (var ptp in priceToPractices)
                                {
                                    if (item.Id == ptp.PriceId)
                                    {
                                <li>@ptp.Practice.Name</li>
                                    }
                                    
                                }
                                @*<li>Auto Accidents</li>
                                <li>Business Litigation</li>
                                <li>Family Law</li>
                                <li>Tax Disputes</li>*@
                            </ul>
                            <div class="view-more"><a asp-controller="Practice" asp-action="AllPractice">Learn More</a></div>
                        </div>
                        <!-- /pricing-col -->
                    </div>
                }


                <!--<div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Basic</h3>
                        <h2 class="price-title">$20<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>-->
                    <!-- /pricing-col -->
                <!--</div>
                <div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Standard</h3>
                        <h2 class="price-title">$40<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>-->
                    <!-- /pricing-col -->
                <!--</div>
                <div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Premium</h3>
                        <h2 class="price-title">$60<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>-->
                    <!-- /pricing-col -->
                <!--</div>-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div>
<!-- /PAGE CONTENT -->