@model List<Testimonial>
@{ 
    Setting setting = ViewBag.Setting;
}
		<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/about.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Testimonials</h1>
            <span class="post-subtitle page-subtitle">Dictum ultricies magna ultricies</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h4 class="margin-b108 alignc">Client satisfaction is our number one goal. What our clients are saying about their experience with our firm.</h4>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-lg-6">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-content">
                                <h6>@item.Description</h6>
                            </div>
                            <div class="icon-box-wrapper">
                                <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/@item.Image" alt=""></div>
                                <div class="icon-box-content">
                                    <div class="client-name">@item.Fullname</div>
                                    <p class="client-company">@item.Componyname</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            
                <!-- /col-lg-6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Contact Us</span>
                    <h2 class="section-heading-title">Get in Touch</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="icon-box-title">OFFICE</div>
                    <p class="icon-box-description">@setting.Address</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-phone-alt"></i></div>
                    <div class="icon-box-title">PHONE</div>
                    <p class="icon-box-description">@setting.Phone</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="far fa-envelope"></i></div>
                    <div class="icon-box-title">EMAIL</div>
                    <p class="icon-box-description">@setting.Email</p>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div>
<!-- /PAGE CONTENT -->
