@model FaqQuestion

<div class="body-content">
    <div class="row">

        <div class="col-md-12 col-lg-12">
            <div class="card center-block mb-5" style="width:50rem;">
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Question" class="font-weight-600">Title</label>
                            <input asp-for="@Model.Question" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Question"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Answer" class="font-weight-600">Description</label>
                            <input asp-for="@Model.Answer" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Answer"></span>
                        </div>

                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>