@model PriceContent

@{
    List<PriceToPractice> priceToPractices = ViewBag.PriceToPractice;
    List<Practice> practices = ViewBag.Practice;
}
<div class="body-content">
    <div class="row">

        <div class="col-md-12 col-lg-12">
            <div class="card center-block mb-5" style="width:50rem;">
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Title" class="font-weight-600">Title</label>
                            <input asp-for="@Model.Title" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description" class="font-weight-600">Description</label>
                            <input asp-for="@Model.Description" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Writer" class="font-weight-600">Writer</label>
                            <input asp-for="@Model.Writer" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Writer"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Photo" class="font-weight-600">Image</label>
                            <input asp-for="@Model.Photo" class="form-control" id="exampleFormControlInput1" placeholder="Slider Content">
                            <span asp-validation-for="@Model.Photo"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>


            <!--Table-->
            <div class="card-body">
                <div class=table-responsive>
                    <!--<table class="table table-sm table-nowrap card-table">-->
                    <label class="font-weight-600">Prices Table</label>
                    <table class="table display table-bordered table-striped table-hover bg-white m-0 card-table">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Package Name</th>
                                <th>Practices</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Prices)
                            {
                                <tr>
                                    <td>
                                        @item.Amount

                                    </td>

                                    <td>@item.Package</td>


                                    <td>
                                        @{
                                            int count = priceToPractices.Where(x => x.Id == item.Id).Count();
                                            int k = 0;
                                        }
                                        @foreach (var item1 in priceToPractices)
                                        {
                                            if (item.Id == item1.PriceId)
                                            {
                                                @(item1.Practice.Name + ", ")
                                                
                                            }
                                        }
                                    </td>

                                    <td>
                                        <a href="PriceDelete/@item.Id" class="btn btn-danger-soft btn-sm"><i class="far fa-trash-alt"></i></a>
                                        <a href="Edit/@item.Id" class="btn btn-success-soft btn-sm ml-1"><i class="far fa-edit"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="PriceCreate"> <button type="button" class="btn btn-secondary"> Add Subject Description</button></a>
                    
                </div>
            </div>

            <!--End Table-->


        </div>
    </div>
</div>
