@model List<Blog>	

	<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/blog.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Blog Grid</h1>
            <span class="post-subtitle page-subtitle"> View the latest articles</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="blog-1col-list-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-holder post-sidebar ">
                    <div class="row layout-masonry">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-lg-4 blog-item-masonry">
                                <article class="blog-item blog-item-2col-grid">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">
                                        <div class="post-image"> <img src="~/assets/images/blog/@item.Image" class="img-fluid" alt=""></div>
                                    </a>
                                    <div class="post-holder">
                                        <ul class="blog-date">
                                            <li class="meta-date">@item.Date.ToString("MMMM dd, yyyy")</li>
                                            <li class="meta-categ"><a asp-controller="Practice" asp-action="Details" asp-route-id="@item.PracticeId" rel="category tag">@item.Practice.Name</a> <a href="#" rel="category tag">News</a></li>
                                        </ul>
                                        <h2 class="blog-title"><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" >@(item.SummaryTitle!=null && item.SummaryTitle.Length>40 ? item.SummaryTitle.Substring(0,40)+"...": item.SummaryTitle )</a></h2>
                                        <div class="article-excerpt"> @(item.SummaryDesc!=null && item.SummaryDesc.Length>180 ? item.SummaryDesc.Substring(0,180)+"...": item.SummaryDesc )</div>
                                    </div>
                                </article>
                            </div>
                        }

                    </div>
                    <!-- /row -->
                    <div class="prev-next"><span class="nav-page"></span><span class="page-numbers current-page">1</span> <a class="page-numbers" href="#">2</a> <a class="page-numbers" href="#">3</a> <span class="nav-page"><a href="#">&gt;</a></span></div>
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
</div><!-- /PAGE CONTENT -->
