@model Blog
    @{ 
        List<Blog> blogs = ViewBag.Blogs;
    }
    <!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(/assets/images/top-bkgs/blog.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Blog Single Post</h1>
            <span class="post-subtitle page-subtitle"> View the latest articles</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 posts-holder post-sidebar ">
                    <article class="single-article-container">
                        <div class="post-image"> <img src="~/assets/images/blog/@Model.Image" class="img-fluid" alt=""></div>
                        <ul class="blog-date">
                            <li class="meta-author"><i class="fa fa-user"></i> @Model.BlogWriter.Fullname</li>
                            <li class="meta-date">October 10, 2019</li>
                            <li class="meta-categ"><a href="#" rel="category tag">@Model.Practice.Name</a> <a href="#" rel="category tag">News</a></li>
                        </ul>
                        <h2 class="blog-title">@Model.SummaryTitle</h2>
                        <div class="post-content single-post-content single-article-page clearfix">
                            <p>
                               @Model.SummaryDesc
                            </p>
                            
                            <h2>@Model.HeaderTitle</h2>
                            <p>@Model.Description</p>                            
                           
                        </div>
                        <!-- /post-content -->
                        <div class="author-single-page">
                            <div class="author-avatar"> <img alt="" src="~/assets/images/@Model.BlogWriter.Image" class="avatar photo" width="100" height="100"></div>
                            <div class="author-content">
                                <h3><a href="#">@Model.BlogWriter.Fullname</a></h3>
                                <div class="author-text">@Model.BlogWriter.Description</div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- /col-lg-9 -->
                <div class="col-lg-3">
                    <aside>
                        <ul>
                            <li class="widget">
                                <h5 class="widgettitle">About Us</h5>
                                <div class="textwidget">
                                    <p><img class="img-fluid" src="~/assets/images/home/about-feature3.jpg" alt=""></p>
                                    <p>Hi, we’re Lawyers and we’re here to help with any legal issue. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                </div>
                            </li>
                            <li class="widget">
                                <form method="get" id="search-form" action="#"> <span><input type="text" name="s" id="search-string" placeholder="type and hit enter"></span></form>
                            </li>
                            <li class="widget widget_recent_entries">
                                <h5 class="widgettitle">Recent Posts</h5>
                                <ul>

                                    @foreach (var item in blogs)
                                    {
                                        <li> <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.HeaderTitle</a></li>

                                    }
                                    @*<li> <a href="#">Thinking Out Of The Box After A Simple Car Accident</a></li>
                                    <li> <a href="#">Understanding Domestic Violence Defense</a></li>
                                    <li> <a href="#">How to Make a Claim Against an Airline</a></li>
                                    <li> <a href="#">Internship for Law Students</a></li>
                                    <li> <a href="#">Last Will and Testament</a></li>*@
                                </ul>
                            </li>
                            <li class="widget widget_recent_entries">
                                <h5 class="widgettitle">Categories</h5>
                                <ul>
                                    @foreach (var item in blogs)
                                    {
                                        <li> <a asp-controller="Practice" asp-action="Details" asp-route-id="@item.Practice.Id">@item.Practice.Name</a></li>

                                    }
                                    @*<li class="cat-item"><a href="#">Business Law</a></li>
                                    <li class="cat-item"><a href="#">Car Accidents</a></li>
                                    <li class="cat-item"><a href="#">Divorce</a></li>
                                    <li class="cat-item"><a href="#">News</a></li>*@
                                </ul>
                            </li>
                            <li class="widget">
                                <h5 class="widgettitle">Tags</h5>
                                <div class="tagcloud">
                                <a href="#">accident</a> 
                                <a href="#">airplaine</a> 
                                <a href="#">attorney</a>
                                <a href="#">business</a>
                                <a href="#">divorce</a>
                                <a href="#">family</a>
                                <a href="#">finance</a>
                                <a href="#">justice</a>
                                <a href="#">law</a>
                                <a href="#">legal</a>
                                <a href="#">rights</a>
                                <a href="#">tax</a>
                                <a href="#">testament</a>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
</div><!-- /PAGE CONTENT -->