@using LawyersFirm.Models.ViewModel
@model HomeVM
<!-- HOME SLIDER -->
<div class="slider-container">
    <div class="owl-carousel owl-theme home-slider">

        @foreach (var item in Model.Slider.SliderImages)
        {
            <div class="slider-post slider-item-box">
                <img class="img-fluid" src="~/assets/images/home/@item.Image" alt="">
                <div class="slider-caption">
                    <div class="slider-text">
                        @if (Model.Slider.Title.Length > 16)
                        {
                            <h2>@Model.Slider.Title.Substring(0, 16)<br>@Model.Slider.Title.Substring(16)</h2>
                        }
                        else
                        {
                            <h2>@Model.Slider.Title</h2>
                        }


                        <h4>@item.Subject</h4>
                        <a class="btn-white" asp-controller="Practice" asp-action="AllPractices">Find More</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- /HOME SLIDER -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page home-page-content clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="intro-msg margin-b108">
                        <div class="intro-normal">Our firm recovered</div>
                        <div class="intro-2"><span class="intro-small-italic">over</span> <span class="intro-big-italic">$@Model.FirmInfo.Earned</span></div>
                        <div class="intro-year">Since 1970</div>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                @foreach (var item in Model.FirmInfo.InfoDescs)
                {
                    <div class="col-lg-4 margin-bm32">
                        <p><span class="dropcap">@item.Description.Substring(0, 1)</span>@item.Description.Substring(1)</p>
                    </div>
                }
              
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="row no-gutters">
            @foreach (var item in Model.FirmInfo.OfficeImages)
            {
                <div class="col-md-6">
                    <img class="img-fluid" src="~/assets/images/home/@item.Image" alt="" />
                </div>
            }
           
        </div>
        <!-- /row -->
    </section>
    <!-- /SECTION 2-->
    <!-- SECTION 3-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Legal Help</span>
                    <h2 class="section-heading-title">Practice Areas</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row practice-items-holder">
                @for (int i=0; i<8; i++)
                {

                    <div class="col-md-6 col-lg-3 practice-item-4cols">
                        <a asp-controller="Practice" asp-action="Details" asp-route-id="@Model.Practices[i].Id">
                            <div class="practice-item">
                                <div class="practice-icon">@Html.Raw(Model.Practices[i].Icon)</div>
                                <h3 class="practice-title">@Model.Practices[i].Name</h3>
                            </div>
                        </a>
                    </div>
                }


                @*<div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-truck"></i></div>
                            <h3 class="practice-title">Auto Accidents</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-hard-hat"></i></div>
                            <h3 class="practice-title">Construction Loans</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-building"></i></div>
                            <h3 class="practice-title">Real Estate</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-chart-bar"></i></div>
                            <h3 class="practice-title">Finance Law</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-money-bill-alt"></i></div>
                            <h3 class="practice-title">Tax Disputes</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-meh"></i></div>
                            <h3 class="practice-title">Child Abuse</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-medkit"></i></div>
                            <h3 class="practice-title">Health Care</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-heart-broken"></i></div>
                            <h3 class="practice-title">Divorce</h3>
                        </div>
                    </a>
                </div>*@
            </div>
            <!-- /row -->
            <div class="view-more alignc margin-t72"><a asp-controller="Practice" asp-action="AllPractices">View More</a></div>
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 3-->
    <!-- SECTION 4-->
    <section class="parallax section-holder" style="background-image:url(../assets/images/home/home-bkg-1.jpg);">
        <div class="container parallax-content">
            <div class="row">
                <div class="col-lg-8">
                    <span class="heading-subtitle white">Legal Help</span>
                    <h2 class="section-heading-title">@Model.Advantage.Title</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row margin-b72">
                @foreach (var item in Model.Advantage.AdvantageDescs)
	{
                <div class="col-lg-6 margin-bm32">
                    <p>@item.Description</p>
                </div>
	}
               
            </div>
            <!-- /row -->
            <div class="row alignc">
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@Model.Advantage.CustomerCount</div>
                    <p class="pcolor">Global Customers</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@Model.Advantage.Experience</div>
                    <p class="pcolor">Years of Experience</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@Model.Advantage.Expert</div>
                    <p class="pcolor">Team Experts</p>
                </div>
                <div class="col-sm-6 col-lg-3 margin-bm32">
                    <div class="facts-title">@Model.Advantage.Award</div>
                    <p class="pcolor">Awards & Honors</p>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 4-->
    <!-- SECTION 5-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Our Attorneys</span>
                    <h2 class="section-heading-title">Professional Team</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                @{
                    int k=3;
                    if (Model.Attorneys.Count < 3) k = Model.Attorneys.Count;

                    for (int i = 0; i < k; i++)
                    {
                        int id = Model.Attorneys[i].Id;
                        <div class="col-lg-4 col-md-6">
                            <div class="lawyer-holder lawyer-3col">
                                <a asp-controller="Attorney" asp-action="Details" asp-route-id="@Model.Attorneys[i].Id"><img src="~/assets/images/team/@Model.Attorneys[i].Image" class="img-fluid" alt=""></a>
                                <div class="lawyer-position">@Model.Attorneys[i].Jobname</div>
                                <h2 class="lawyer-title"><a asp-controller="Attorney" asp-action="Details" asp-route-id="@Model.Attorneys[i].Id">@Model.Attorneys[i].Fullname</a></h2>
                                <div class="lawyer-excerpt">@(Model.Attorneys[i].Biography!=null && Model.Attorneys[i].Biography.Length>135 ? Model.Attorneys[i].Biography.Substring(0,135): Model.Attorneys[i].Biography )</div>
                                <ul class="lawyer-social">
                                    <li><a href="@Model.Attorneys[i].AttorneyContacts.FirstOrDefault(i=>i.AttorneyId==id).Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="@Model.Attorneys[i].AttorneyContacts.FirstOrDefault(i=>i.AttorneyId==id).Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="@Model.Attorneys[i].AttorneyContacts.FirstOrDefault(i=>i.AttorneyId==id).Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    }
                }



        
            </div>
            <!-- /row -->
            <div class="view-more alignc"><a asp-controller="Attorney" asp-action="AllAttorney">View More</a></div>
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 5-->
    <!-- SECTION 6-->
    <section class="no-parallax section-holder section-home16">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonials-container">
                        <div class="owl-carousel owl-theme testimonials-slider">

                            @{
                                int length = 4;
                                if (Model.Testimonials.Count < 4) length = Model.Testimonials.Count;

                                for (int i = 0; i < length; i++)
                                {
                                    <div class="testimonial-item">
                                        <div class="testimonial-desc">
                                            <i class="fas fa-quote-left"></i>
                                            <h5>
                                               @Model.Testimonials[i].Description
                                            </h5>
                                        </div>
                                        <div class="testimonial-client"> <img src="~/assets/images/testimonials/@Model.Testimonials[i].Image" alt=""></div>
                                        <div class="client-name">@Model.Testimonials[i].Fullname</div>
                                        <div class="client-company">@Model.Testimonials[i].Componyname</div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- /testimonials-container -->
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 6-->
    <!-- SECTION 7-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Legal Help</span>
                    <h2 class="section-heading-title">Latest News</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row section-home-blog">

                @for (int i= 0; i < 3; i++)
                {
                    <div class="col-md-6 col-lg-4 blog-item-masonry">
                        <article class="blog-item blog-item-2col-grid">
                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Blogs[i].Id">
                                <div class="post-image"> <img src="~/assets/images/blog/@Model.Blogs[i].Image" class="img-fluid" alt=""></div>
                            </a>
                            <div class="post-holder">
                                <ul class="blog-date">
                                    <li class="meta-date">@Model.Blogs[i].Date.ToString("MMMM dd, yyyy")</li>
                                    <li class="meta-categ"><a asp-controller="Practice" asp-action="Details" asp-route-id="@Model.Blogs[i].PracticeId" rel="category tag">@Model.Blogs[i].Practice.Name</a> <a href="#" rel="category tag">News</a></li>
                                </ul>
                                <h2 class="blog-title"><a asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Blogs[i].Id">@(Model.Blogs[i].SummaryTitle!=null && Model.Blogs[i].SummaryTitle.Length>40 ? Model.Blogs[i].SummaryTitle.Substring(0,40)+"...": Model.Blogs[i].SummaryTitle )</a></h2>
                                <div class="article-excerpt"> @(Model.Blogs[i].SummaryDesc!=null && Model.Blogs[i].SummaryDesc.Length>180 ? Model.Blogs[i].SummaryDesc.Substring(0,180)+"...": Model.Blogs[i].SummaryDesc )</div>
                            </div>
                        </article>
                    </div>
                }

               
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 7-->
    <!-- SECTION 8-->
    <section class="parallax section-holder" style="background-image:url(assets/images/blog/blog-7.jpg);">
        <div class="container parallax-content">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 alignc">
                    <span class="heading-subtitle white">Legal Services</span>
                    <h2 class="margin-b16">Did we mention first consultation is free?</h2>
                    <p>Appareat reformidans his te. Mundi erroribus ad eum, mea ut dicam nostro copiosae. Eligendi accusamus nec ex. Et usu ludus vitae tritani, suas deleniti pertinacia et quo. Duo veritus mediocrem ex, vidit fabellas vis ea.</p>
                    <div class="view-more view-more-white margin-t54 alignc"><a href="contact.html">Make an Appointment</a></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 8-->
    <!-- SECTION 9-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 margin-bm54">
                    <span class="heading-subtitle">Contact Us</span>
                    <h2 class="section-heading-title margin-b16">Free Case Evaluation</h2>
                    <p>Aenean facilisis, neque a varius porttitor, risus dui tempus libero, dictum aliquet justo enim vitae lorem. Aliquam lacinia lacinia mi ac convallis. Nulla et lacus et risus laoreet consectetur.</p>
                    <div class="icon-box-wrapper">
                        <div class="icon-box-icon"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="icon-box-content">
                            <div class="icon-box-title">OFFICE</div>
                            <p class="icon-box-description">@Model.Setting.Address</p>
                        </div>
                    </div>
                    <!-- /icon-box-wrapper -->
                    <div class="icon-box-wrapper">
                        <div class="icon-box-icon"><i class="fas fa-phone-alt"></i></div>
                        <div class="icon-box-content">
                            <div class="icon-box-title">PHONE</div>
                            <p class="icon-box-description">@Model.Setting.Phone</p>
                        </div>
                    </div>
                    <!-- /icon-box-wrapper -->
                    <div class="icon-box-wrapper">
                        <div class="icon-box-icon"><i class="far fa-envelope"></i></div>
                        <div class="icon-box-content">
                            <div class="icon-box-title">EMAIL</div>
                            <p class="icon-box-description">@Model.Setting.Email</p>
                        </div>
                    </div>
                    <!-- /icon-box-wrapper -->
                    <div class="gmaps margin-t54">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.9762977047603!2d-73.96009086693977!3d40.69651965846399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bc1f922373f%3A0x398427d98fba822e!2sPark+Ave%2C+Brooklyn%2C+NY%2C+USA!5e0!3m2!1sen!2sro!4v1471514814808">
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="contact-form-holder">
                        <form method="post" id="contact-form" asp-controller="Home" asp-action="SendMail">
                            <div class="margin-b32"><label>Name</label><input type="text" name="name" class="comm-field" /></div>
                            <div class="margin-b32"><label>Email</label><input type="text" name="email" class="comm-field" /> </div>
                            <div class="margin-b32"><label>Subject</label><input type="text" name="subject" class="comm-field" /> </div>
                            <div class="margin-b32"><label>Message</label><textarea name="message" id="msg-contact" rows="5"></textarea></div>
                            <p class="antispam">Leave this empty: <input type="text" name="url" /></p>
                            <p><input type="submit" formaction="@Url.Action("SendMail")" formmethod="post" value="Send message" id="submit"  /></p>
                        </form>
                    </div>
                    <!-- contact-form-holder-->
                    <div id="output-contact"></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 9-->
</div>
<!-- /PAGE CONTENT -->